.trip-card {
    width: 100%;
    border: 1px solid lightgrey;
    box-shadow: 1px 0px 1px gray;
}

.trip-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.trip-card h3 {
    text-decoration: none;
    color: #8bd2ea; 
    margin-left: 20px;
}