@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.trip-card {
    font-family: "Roboto", sans-serif;
    width: 100%;
    border: 1px solid lightgrey;
    box-shadow: 1px 0px 1px gray;
}

.trip-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.trip-card a h3 {
    color: #555; 
    margin-left: 20px;
    margin-bottom: 10px;
}

.trip-card a {
    text-decoration: none;
}

.trip-card a h3:hover {
    color: #18E0E6; 
    margin-left: 20px;
}