@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body{
   background: #FFFFFF;
   font-family: "Roboto", sans-serif;
  }
  .card-trip {
    align-self: center;
    width: 550px;
    padding: 4% 0 2%;
    margin: 35px;
    overflow: hidden;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
  
  .card-trip > img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  .card-trip > img:hover {
    transform: scale(1.1);
    transition: 0.9s;
  }
  
  .card-trip h2 {
    font-size: 17px;
    font-weight: bold;
    margin: 2px;
  }
  
  .card-trip p {
    font-size: 14px;
    margin: 7px;
  }
  
  
  .card-trip .card-trip-infos {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
  }
  
  .card-trip-infos .card-trip-user {
    position: absolute;
    right: 16px;
    top: -20px;
    width: 45px;
    border-radius: 50%;
  }

  ul {
    padding-bottom: 30px;
  }
  #link {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #18E0E6;
    height: 30px;
    width: 100%;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;

  }

  #link:hover, #link:active,#link:focus {
    background: #555;
  }

  .accent-line{
    width: 60%;
    margin-bottom: 20px;
  }
