@import url(https://fonts.google.com/specimen/Fredoka+One?query=fredoka+one&sidebar.open=true&selection.family=Fredoka+One|Lato);

#trip-list {
  border-radius: 0vh;
  display: grid;
  padding: 8vh;
  grid-template-columns: 33% 33% 33%;
  column-gap: 10px;
  row-gap: 10px;
}

body {
  background-color: #fcfcfc;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'Fredoka One', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font: normal 16px sans-serif;
    color: #555;
}

ul, 
nav {
    list-style: none;
}

a{
    text-decoration: none;
    color: #bbbbbb;
}

a:hover{
    opacity: 1;
}

hr {

    width: 60%;
    height: 3px;
    background-color: #18E0E6;
    border: 0;
    margin-bottom: 50px;
}

section h3.title {
    margin-top: 180px;
    text-transform: capitalize;
    font: bold 32px "open Sans", sans-serif;
    margin-bottom: 30px;
    text-align: center;
}

section p {
    max-width: 775;
    line-height: 2;
    padding: 0 20px;
    margin-bottom: 30px;
    text-align: center;
}

a.btn {
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: #18E0E6;
    opacity: 1;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 80px 10px;
}


@media (max-width: 600px) {
    section {
        padding: 60px 10px 10px;
    }

    #trip-list {
      padding: 3vh;
      display: block;
    }
}







