
.logo {
    display: flex;
    justify-content: center;
    width: 90%;
}
#logo-image {
    width: 400px;
    height: 200px;
    background-image: url('./traveld-logo.PNG');
    background-size: cover;
    align-self: center;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

nav { 
    margin: 0;
    padding: 20px;
    text-align: left;
    display: flex;
    flex-flow: row;
}

nav a {
    display: inline;
    text-decoration: none;
    color: #8bd2ea; 
    padding: 0px 0px 0px 20px; 
}

nav a:hover {
    color: #41b3dc; 
}